@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

html, body {
  @apply overflow-x-hidden;
}


body {
  @apply font-sans; /* This applies the font globally */
  @apply text-choco; /* This applies the text color globally */
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* cursor: url("./assets/images/paw.png"), auto; */
}

/* a, .cat-cursor{
  cursor: url("./assets/images/cat.png"), auto;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Keep contents within an width of 5xl */
.container-max-w-5xl {
  @apply container mx-auto px-4 max-w-5xl;
}

/* Custom CSS for the pagination dots */
/* .slick-slider .slick-dots {
  position: absolute;
  bottom: -70px; /* Move the dots down by 50px */
  /* left: 50%;
  transform: translateX(-50%);
} */ 

.slick-track {
  padding-bottom: 40px;
}
